@import 'assets/scss/variables';
@import 'assets/scss/mixins';

.btn {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
  transition: var(--transition-fast);
  outline: none;

  &--outlined {
    background-color: var(--orange-opacity-015);
    border: 1px solid var(--orange-opacity-08);

    min-width: 208px;

    &:hover {
      box-shadow: --var(--shadow-orange-opacity-015);
      background-color: var(--orange);
    }
  }

  &--primary {
    background-color: var(--orange-1);
    border: 1px solid var(--orange-opacity-08);

    min-width: 208px;

    &:hover {
      box-shadow: --var(--shadow-orange-opacity-015);
      background-color: var(--orange);
    }
  }

  &--small {
    padding: 12px 32px;
  }

  &--normal {
    padding: 16px 42px;
  }
}
