@import 'assets/scss/variables';
@import 'assets/scss/mixins';

.btn {
  font-weight: normal;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  padding: 12px 32px;

  &--outlined {
    background-color: var(--orange-opacity-015);
    border: 1px solid var(--orange-opacity-08);

    min-width: 208px;
  }
}
