@import './variables';

@mixin mobile {
  @media (min-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin pseudo($width, $height, $content: '', $repeat: no-repeat) {
  content: $content;
  position: absolute;
  background-repeat: $repeat;
  width: $width;
  height: $height;
}
