@import 'assets/scss/mixins';

.header {
  background-color: var(--black);

  min-height: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
  }

  &__img {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
  }
}
