@import 'assets/scss/mixins';

.header {
  background-color: var(--black);

  &__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
  }

  &__img {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
  }
}
