@import 'assets/scss/functions';

.title {
  font-size: rem(28);

  @include tablet {
    font-size: rem(32);
  }

  @include desktop {
    font-size: rem(40);
  }

  &.--mb-40 {
    margin-bottom: 40px;
  }

  &.--mb-24 {
    margin-bottom: 24px;
  }
}
