@import 'assets/scss/mixins';
@import 'assets/scss/variables';

.cast {
  margin-bottom: 72px;

  &__top {
    margin-bottom: 32px;
    position: relative;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__line {
    transition: var(--transition-fast);
    position: absolute;
    width: 50%;
    border-top: 2px solid var(--orange-1);
  }

  &__progress {
    position: relative;
  }

  &__fill {
    opacity: 0.3;
    border-top: 2px solid var(--white);
  }

  &__picture {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &__img {
    height: 280px;
    width: 216px;

    @include tablet {
      width: 256px;
      height: 360px;
    }

    @include desktop {
      height: 400px;
      width: 282px;
    }
  }
  &__list-item {
    height: 280px;
    width: 216px;
    box-sizing: border-box;

    @include tablet {
      height: 360px;
      width: 256px;
    }

    @include desktop {
      height: 400px;
      width: 282px;
    }
  }

  &__actor {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    font-size: 16px;

    @include tablet {
      font-size: 20px;
    }

    @include desktop {
      font-size: 24px;
    }
  }

  &__name {
    font-weight: 400;
  }

  &__article {
    display: flex;
    align-items: flex-end;
    padding: 24px;
    height: 280px;
    width: 216px;

    @include tablet {
      height: 360px;
      width: 256px;
    }

    @include desktop {
      height: 400px;
      width: 282px;
    }
  }

  &__list-item:hover &__shade {
    display: flex;
  }

  &__list-item:hover &__actor {
    display: none;
  }

  &__desc {
    margin-top: auto;
    font-weight: 400;
  }

  &__actor-shade {
    display: flex;
    flex-direction: column;
    font-size: 16px;

    @include tablet {
      font-size: 20px;
    }

    @include desktop {
      font-size: 24px;
    }
  }

  &__shade {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    display: none;
    z-index: 6;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: black;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    padding: 24px;
    cursor: pointer;
    height: 280px;
    width: 216px;

    @include tablet {
      height: 360px;
      width: 256px;
    }

    @include desktop {
      height: 400px;
      width: 282px;
    }
  }

  &__list {
    @include tablet {
      width: 704px;
    }

    @include desktop {
      width: 1320px;
    }
  }

  &__controls {
    position: relative;
    margin-bottom: 24px;
    margin-right: 32px;

    &--left {
      margin-right: 38px;

      svg {
        fill: var(--orange-1);
      }
    }

    &--right {
      svg {
        fill: var(--orange-1);
        transition: var(--transition-fast);
      }

      &:hover svg {
        fill: var(--orange);
      }
    }
  }
}
