@import 'assets/scss/mixins';

.logo {
  display: flex;
  align-items: center;

  &__img {
    height: 36px;
    width: 106px;

    @include tablet {
      height: 44px;
      width: 130px;
    }
  }
}
